<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="row">

        <div class="col-sm-4 about-left">
          <h1>About me</h1>
          <div class="self-portrait">
            <img src="{% static 'images/jose-garban.jpg' %}" alt="José Garbán">
          </div>
        </div>

        <div class="col-sm-4">
            <div class="about-p">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
{% endblock %}
