{% load static %}

<html>
  <head>
    <title>José's blog</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

  </head>

  <header>
    <div class="header-left">
      <h1 ><a class="header-title" href="{% url 'post_list'%}">This is José's blog!</a> </h1>
    </div>
    <div class="header-right">
      <span><a href="{% url 'about' %}" class="header-anchor">About me</a></span>
    </div>
  </header>

  <body>
    <div class="page-header">
    </div>
    <div class="content-container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>

</html>
