<!DOCTYPE html>
{% load blog_tags %}
{% load static %}

<html>
  <head>
    <title>José's blog</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/prism.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/prism.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

  </head>

  <header>
    <div class="header-left">
      <h1 ><a class="header-title" href="{% url 'blog:post_list'%}">This is José's blog!</a> </h1>
    </div>
    <div class="header-right">
      <span><a href="{% url 'blog:about' %}" class="header-anchor">About me</a></span>
    </div>
  </header>

  <body>
    <div class="page-header">
    </div>
    <div class="content-container">
      <div class="row">
        <div class="col-md-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>

</html>
