<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}

<div class="content-container">
  <div class="row">
    <div class="col-md-2">
      <div class="date-container">
        {% if post.published_date %}
        <div class="date-inpost">
          {{ post.published_date }}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-7">
      <article class="post">
        <h2>{{ post.title }}</h2>
        <p class="tags">Tags:
          {% for tag in post.tags.all %}
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
          </a>
          {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>

        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{{ post.get_absolute_url }}edit/">
            <span class="glyphicon glyphicon-pencil"> Edit post</span>
          </a>
        {% endif %}
        <br>
        <p>{{ post.text|safe }}</p>
        <br>
        <p>
          <a href="{% url "blog:post_share" post.id %}">Share this post via e-mail</a>
        </p>
      </article>

      <div class="comments">
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
          this.page.url = 'https://josegarban.pythonanywhere.com/blog/{{post.published_date.year}}/{{post.published_date.month}}/{{post.published_date.day}}/{{post.slug}}/';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '/{{post.published_date.year}}/{{post.published_date.month}}/{{post.published_date.day}}/{{post.slug}}/';
          this.page.title = "{{post.title}}";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://josegarban.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <script id="dsq-count-scr" src="//josegarban.disqus.com/count.js" async></script>

      </div>

    </div>

    <div class="col-md-3">
      <aside class="similar">
        <h3>Similar posts</h3>
        {% for post in similar_posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% empty %}
        <p>There are no similar posts yet.</p>
        {% endfor %}
      </aside>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

{% endblock %}
