h1, h2, h3, p, a{
  font-family: "Lato", sans-serif;
}

header {
  background-color: #020533;
  color: #faf4c8;

  height: 8rem;
  left: 0;
  padding: 0 1.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

body{
  background-color: #faf4c8;
  margin: 8rem 1.5rem;
}

h2 a {
  color: #020533;
}

h3 {
  color: #c8cefa;
}

.post {
  border: 1rem #020533 ;
  margin: 3rem 0;
}
